<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章</title>
    <link rel="stylesheet" href="/style/theme.css">
</head>
<body>
    <header>
        <div class="nav-bar">
            <div class="nav-brand">
                <a class="blog-name" href="/">Liu Hong's Blog</a>
            </div>
            <div class="nav-link">
                <a class="link-item" id="nav-home" href="/" >首页</a>
                <a class="link-item" id="nav-home" href="/tags" >标签</a>
                <a class="link-item" id="nav-home" href="/archive" >归档</a>
                <a class="link-item" id="nav-home" href="/aboutme" >关于我</a>
            </div>
        </div>
    </header>
    <div class="main-container">
        <div class="main-content">
                <div class="page-header">
                    <h1 id="postTitle"></h1>
                </div>
                <div class="page-info">
                    <span id="postDate"></span>
                    <span id="postAuthor"></span>
                </div>
                <div class="page-content" id="mainContainer">
                </div>
        </div>
    </div>
    <footer>
        <center>
            © 2017 liuhong1happy with help from <a href="mailto:liuhong1.happy@163.com" target="_blank" title="Liuhong's Email">Liuhong's Email</a>
        </center>
    </footer>
    <script src="/js/Ajax.js"></script>
    <script src="/js/ParseData.js"></script>
    <script src="/js/Date.js"></script>
    <script src="/js/post.js"></script>
</body>
</html>