body {
    background-color: #f0f0f0;
    margin: 0px;
    padding: 0px;
    color: #AD7328;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #8e5c1a;
}

footer {
    width: 100%;
    margin-top: 10px;
    height: 68px;
    vertical-align: middle;
    line-height: 68px;
}

header {
    width: 100%;
    height: 68px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    text-align: center;
}

.main-container {
    width: 100%;
    text-align: center;
}

.main-content {
    width: 1200px;
    min-height: 300px;
    background-color: white;
    padding: 20px 45px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0px auto;
    text-align: left;
}

.nav-bar {
    width: 1200px;
    margin: 0px auto;
    text-align: left;
    display: inline-block;
    height: 68px;
}
.nav-brand {
    float: left;
}

.nav-link {
    float: right;
}

.nav-link {
    line-height: 68px;
    vertical-align: middle;
}

.link-item {
    text-decoration: none;
    color: #999;
    padding: 0px 6px;
    font-size: 18px;
    text-shadow: 1px 1px 1px grey;
    position: relative;
    transition: all 0.4s ease;
}

.link-item:hover, .link-item.active {
    color: #8e5c1a;
    top: -1px;
    text-shadow: 1px 3px 5px grey;
}

.blog-name {
    text-shadow: 2px 2px 5px grey;
    font-size: 28px;
    color: #666;
    vertical-align: middle;
    line-height: 68px;
    text-decoration: none;
}

.blog-name:hover {
    color: #333;
    cursor: pointer;
    text-shadow: 2px 2px 5px #ea3e0a;
}

a {
    color: #337ab7;
    text-decoration: none;
    transition: all 0.4s ease;
}

a:hover {
    color: #ad7328;
}

/* tag-box */
.tag-box a {
    padding: 3px 6px;
    margin: 2px;
    background: #eee;
    color: #555;
    border-radius: 3px;
    text-decoration: none;
    border: 1px dashed #cccccc;
}
.tag-box a span {
    vertical-align: super;
    font-size: 0.8em; }
  
.tag-box a:hover {
    background-color: #e5e5e5; 
}

.tags {
    margin: 0px;
    padding: 0px;
}

.tags li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
}

.main-section {
    clear: both;
    margin-bottom: 20px;
}

img {
    max-width: 1100px;
}

h1{
    line-height: 50px;
    color: #ea3e0a;
}

h1 small{
    font-size: 65%;
    color: #AD7328;
    margin-left: 20px;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.page-info {
    line-height: 1.42857143;
    color: #333;
}

pre {
    color: #666;
    background-color: #f6f8fa;
    padding: 20px;
    box-shadow: inset 0px 0px 20px #AD7328;
}